#hero {

  width: 100%;
  height: 74vh;



  background:linear-gradient(rgba(0, 0, 0, 0.096),
   rgba(0, 0, 0, 0.363)), url('/image/tsl_rosemary.png') 
  no-repeat center / cover;

}

.container {
  width: 90%;
  height: 100%;
  max-width: 1100px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-self: center;
}

.container .info h1 {
  max-width: 20rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.container .info p {
  max-width: 20rem;
  margin-bottom: 2rem;

  font-family: sans-serif;
}

.container .info a {
  text-decoration: none;

  background-color:  #37b4ca;
  border-style: none;
  border-radius: .75rem;

  padding: .8rem 1.5rem;

  font-family: sans-serif;
}

.container .info a:hover {
  background-color: #4ac5db;
}

@media (max-width: 768px) {

 .container {
  display: flex;
  justify-content: center;
  align-self: center;
 } 

.container .info h1 {
  
  max-width: 100%;
  font-size: 1.5rem;
}

.container .info p {
  font-size: .9rem;
  text-align: center;
}

.container .info a {
  font-size: small;
  margin-left: 6.15rem;

  padding: .7rem 2rem;
}
}


